#storelocatorpage h1 {
  color: #000;
}


#render_append h1 {
  font-size: calc(20px + (24 - 20) * ((100vw - 280px) / (1600 - 280)));
  margin: 25px 0;
}

#storelocatorpage {
  position: relative;
  min-height: 100vh;
  margin-bottom: 50px;
  padding: 0 5%;

}

#storelocatorpage h2 span {
  color: #2863B4;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
}

#storelocatorpage .findthestore h1 {
  font-size: calc(15px + (25 - 15) * ((100vw - 280px) / (1600 - 280)));
  color: #424242;
}

/*.storedetails > b {
   text-transform: uppercase;
}*/


.storedetails span {
  text-transform: capitalize;
}

#storelocatorpage .findthestore {
  background-color: #F9F9F9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 2%;
  flex-direction: column;

}

#storelocatorpage .findthestore h3 {
  text-align: center;
  padding: 5px 20px;
}

#storelocatorpage .citystoredetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  width: 100%;
}

#storelocatorpage .select2dropdownwidth {
  display: inline-block;
  padding: 10px;
  width: 48%;

}

#storelocatorpage .centeralign {
  text-align: center;
  text-transform: uppercase;
}

/* Select 2 CSS */
.select2-container {
  /* max-width: 30px !important; */
  width: 100% !important;
}

.select2-container--default .select2-selection--single {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #939393;
  border-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #000;
  line-height: 28px;
  text-transform: uppercase;
  font-size: calc(14px + (16 - 14) * ((100vw - 280px) / (1600 - 280)));

}

.select2-results__option {
  padding: 8px 10px;
  user-select: none;
  -webkit-user-select: none;
  font-size: 13px;
  border-bottom: 1px solid #DADADA;
  margin: 0px;
  text-transform: uppercase;
  font-weight: bold;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #FE852F;
}

/* End of Select 2 CSS  */
#storelocatorpage .loader {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#storelocatorpage .loader .preloader {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  z-index: 100;
}

#storelocatorpage .storesdetail {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

#storelocatorpage .storedetails {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  margin: 0 10px 3px 10px;
  border: 1px solid #979797;
}

#storelocatorpage .storedetails h3,
#storelocatorpage .storecontent h3 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  color: #4D4D4D;
  padding: 0;
  font-weight: bold;
  margin-top: 0;
}

#storelocatorpage .storedetails h5,
#storelocatorpage .storecontent h5 {
  font-size: 13px;
  text-transform: uppercase;
  color: #232323;
  margin-bottom: 5px;
}

#storelocatorpage .storedetails p,
#storelocatorpage .storecontent p {
  font-size: 12px;
  color: #232323;
  margin-bottom: 20px;
}

#storelocatorpage .paginationlinks {
  margin-top: 20px;
  text-align: center;
}

#storelocatorpage .pagination {
  justify-content: center;
  align-items: center;
}

#storelocatorpage .pagination li {}

#storelocatorpage .pagination li a {
  color: black;
  padding: 10px;
}

#storelocatorpage .page-item.disabled .page-link {
  background-color: #DFDFDF;
  color: white;
  padding: 10px;
}

#storelocatorpage .page-item.active .page-link {
  z-index: 1;
  color: #fff;
  padding: 10px;
  background-color: #000;
  border-color: #000;
}

#storelocatorpage .storecontentgallery {
  display: block;
  padding: 10px;
}

#storelocatorpage .storecontentgallery h1 {
  margin-bottom: 25px;
}

#storelocatorpage .storecontentgallery div {
  width: 100%;
}

#storelocatorpage .storecontentgallery span.storedata {
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

#storelocatorpage .storecontentgallery span.storedata b {
  width: 165px;
  text-transform: uppercase;
}

.main-page-title {
    color: #2863B4 !important;
    font-weight: 600;
}

#storelocatorpage .storecontentgallery span.storedata i {
  width: 100%;
  font-style: normal;
}

#storelocatorpage a.moredetails {
  display: block;
  font-size: 12px;
}

#storelocatorpage a.moredetails,
.paginationlinks nav .relative {
  cursor: pointer;
  background-color: #FE852F;

  color: white;
  transition: all 500ms ease-in-out;
  padding: 10px 15px;
  margin-top: 20px;

  width: fit-content;
  text-decoration: none;
}

.paginationlinks nav .relative:first-child {
  margin-right: 20px;
}

.paginationlinks nav .relative {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

#storelocatorpage a.moredetails b {
  position: relative;
  transition: all 500ms ease-in-out;
}

/*#storelocatorpage a.moredetails::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e9e9e9;
    transition: transform 500ms ease-in-out;
    transform: scaleX(0);
    transform-origin: right;
}*/


/*#storelocatorpage a.moredetails:hover:before {
    transition: transform 500ms ease-in-out;
    transform: scaleX(1);
    transform-origin: left;
}*/
.google_map #map {
  width: 100%;
  height: 625px;
}

.storegallery {
  margin-bottom: 20px;
}

.storegallery img {
  width: 100%;
  /* height: 350px; */
}

.otherstoresamecity {
  margin-top: 50px;
}

.otherstoresamecity h3 {
  text-align: center;
}

/* for Desktop */
@media only screen and (min-width: 1024px) {
  #storelocatorpage .citystoredetails {
    flex-direction: row;
  }

  #storelocatorpage .storedetails {
    width: 32%;
    padding: 3%;
    margin: 0 0 13px 0;
    font-size: 14px;
    margin-right: 1%;
  }

  #storelocatorpage .storecontentgallery {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  #storelocatorpage .storecontentgallery .storecontent {
    width: 35%;
  }

  #storelocatorpage .storecontentgallery .google_map {
    width: 64%;
  }

  .google_map #map {
    height: 425px;
  }
}

.mobile_image {
  display: none
}

.desktop_image {
  display: block
}

@media only screen and (max-width:768px) {
  .mobile_image {
    display: block;
  }

  .desktop_image {
    display: none
  }
}

.banner_div {
  padding: 0px 0px 30px;
}

.storeImg {
  max-width: 100%;
  margin-bottom: 25px;
  width: 100%;
}

.detailviews h1 {
  text-align: left;
  font-size: 22px;
}


@media only screen and (max-width: 1200px) {

  .select2-container--default .select2-selection--single .select2-selection__rendered,
  #storelocatorpage .findthestore h1 {
    letter-spacing: 0;
  }

  #storelocatorpage {
    padding: 0 3%;
  }

  #storelocatorpage .storedetails {
    margin-bottom: 20px;
  }
  

}
@media only screen and (min-width: 1024px){
    #storelocatorpage .storedetails {
      font: normal normal 300 16px/28px Assistant;
      letter-spacing: 0.32px;
      color: #4D4D4D;
    }
  }